<section class="apparel section animate-content" id="apparel">
  <div class="conntainer">
    <div class="block_content_wrapper">
      <div class="img_conntainer">
        <img
          data-sizes="auto"
          data-srcset="
                            ./images/apparel-480.webp 480w,
                            ./images/apparel-768.webp 768w,
                            ./images/apparel-1200.webp 1200w"
          data-src="./images/apparel-1200.webp"
          class="lazyload"
          width="1200"
          height="800"
          alt="apparel"
          style="width: 100%; height: auto"
        />
        <a
          href="https://shop.thepillarsofwisdom.com/collections/all"
          target="_blank"
          class="link-element"
        >
          <h2>Apparel</h2>

          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
        </a>

        <div class="mobile_content">
          <h2 class="mobile_title">
            Wear Your Intent: <br />
            Curated Essentials
          </h2>
        </div>
      </div>
      <div class="info_content">
        <h2 class="block_title">
          Wear Your Intent: <br />
          Curated Essentials
        </h2>

        <p class="block-description">
          Forge your identity with apparel that screams defiance. Our exclusive
          Pillars of Wisdom collection isn’t just gear; it’s a badge for the
          elite who reject the system’s chains. Crafted for visionaries, each
          piece embodies the raw power of Nietzschean will and the edge of
          schizoanalysis. Stand out, stay bold, and wear your rebellion. Shop
          now and join the brotherhood that dominates.
        </p>

        <a
          href="https://shop.thepillarsofwisdom.com/collections/all"
          target="_blank"
          class="link-btn"
        >
          Claim Your Badge
        </a>
      </div>
    </div>
  </div>
</section>
