<section class="section consultations ">
  <div class="consultations_content">
    <div class="images_content">
      <img
        src="./images/sphinks-1200.webp"
        width="1200"
        height="1125"
        alt="sphinks"
        class="left-img sphinks-img"
      />
      <img
        src="./images/sphinks-1200.webp"
        width="1200"
        height="1125"
        alt="sphinks"
        class="right-img sphinks-img"
      />
    </div>

    <div class="text_content">
      <h2>Book a consultation</h2>
      <p>
        Ready to see through the illusions and dominate the world? Book a
        consultation now to unlock the raw, unfiltered truths of <span class="accent-text">The Pillars of
        Wisdom</span> and join the exclusive elites who reject the system’s lies.
        Master your will to power, build unshakable wealth, and live life on
        your terms—starting with this one bold move. Spots are limited, and the
        ordinary will be left behind. Seize your place among the elite—act now!
      </p>
      <a href="/pages/coaching.html" class="link-btn">Secure Your Spot</a>

    </div>
  </div>
</section>
