<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="color-scheme" content="light only">
    <title>{{pageTitle}}</title>
	<link rel="preload" href="/fonts/SFProDisp.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
	
	<link rel="stylesheet" href="/css/all.css" />
	<link
		rel="preload"
		href="https://assets.calendly.com/assets/external/widget.css"
		as="style"
		onload="this.onload=null;this.rel='stylesheet'"
	/>
	<noscript>
		<link rel="stylesheet" href="https://assets.calendly.com/assets/external/widget.css" />
	</noscript>
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  </head>

  <body>

		{{> icons}}

    <div class="wrapper">
      <div class="header">
          <div class="header_inner">
            <div class="link_block">
              <a href="/#about" class="link-el">About</a>

              <img src="/images/header-star.webp" alt="star" width="59"  height="60" class="star-img"/>
              <a href="/#book" class="link-el">Book</a>


              <img src="/images/header-star.webp" alt="star" width="59"  height="60" class="star-img"/>
              <a href="/#newsletter" class="link-el">Newsletter</a>
            </div>
            <img src="/images/header-logo.webp" alt="logo" class="logo" width="40" height="40"/>
            <div class="link_block">
              <a href="/#apparel" class="link-el">Apparel</a>
              <img src="/images/header-star.webp" alt="star" width="59"  height="60" class="star-img"/>
              <a href="/#consulting" class="link-el">Consulting</a>
              <img src="/images/header-star.webp" alt="star" width="59"  height="60" class="star-img"/>
              <a href="/#contact" class="link-el">Contact</a>
            </div>
          </div>
		  <div class="mobile_header_inner">
			<div class="mobile-header">
				<div class="conntainer">
					<div class="mobile_header_content">
						<img src="/images/header-logo.webp" alt="logo" class="logo" width="40" height="40"/>

						<div class="burger_menu">
							<svg class="icon icon-active" id="burger-btn">
								<use xlink:href="#burger-icon"></use>
							</svg>
							<svg class="icon " id="close-btn">
								<use xlink:href="#close-icon"></use>
							</svg>

						</div>
					</div>
				

				</div>
			</div>
			<div class="mobile_menu">
				<ul>
					<li data-target="/#book">
					<img src="/images/header-star.webp" alt="star" width="59"  height="60" class="star-img" />
					<span>Book</span>
					</li>
					<li data-target="/#about">
					<img src="/images/header-star.webp" alt="star" width="59"  height="60" class="star-img" />
					<span>About</span>
					</li>
					<li data-target="/#newsletter">
					<img src="/images/header-star.webp" alt="star" width="59"  height="60" class="star-img" />
					<span>Newsletter</span>
					</li>
					<li data-target="/#apparel">
					<img src="/images/header-star.webp" alt="star" width="59"  height="60" class="star-img" />
					<span>Apparel</span>
					</li>
					<li data-target="/#consulting">
					<img src="/images/header-star.webp" alt="star" width="59"  height="60" class="star-img" />
					<span>Consulting</span>
					</li>
					<li data-target="/#contact">
					<img src="/images/header-star.webp" alt="star" width="59"  height="60" class="star-img" />
					<span>Contact</span>
					</li>
				</ul>
			</div>
		  </div>
      </div>
      <div class="main">

  </body>
</html>
