<section class="section promo-hero">
  <div class="container">
    <div class="promo-hero-content">
      <div class="left_column">
        <div class="text_content">
          <span
            >Ready to get paid what you're worth, live where you're treated
            best, and start living your best life?</span
          >
          <h1>Discover the strategies inside.</h1>
          <p>
            The Pillars of Wisdom provides a robust, practical guide to gaming
            the job market, achieving location independence, and optimizing your
            life for success.
          </p>
        </div>
        <div class="media_content">
            <video
              id="promo-video"
              class="video-js"
              controls
              preload="auto"
              width="100%"
              height="450px"
              playsinline
              preload="auto"
              autoplay
              muted
              poster="./images/preview.webp"
            >
              <source src="./videos/hero-final-cropped.mp4" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
            <button class="sound_on_btn">
              <div class="warning">
                <svg>
                  <use xlink:href="#no-sound-icon"></use>
                </svg>
                <span clas="call-to-action">
                  click to turn
                  <br/>
                  <span class="capitalize_text">
                    on sound
                  </span>
                </span>

              </div>
              <div class="sound_on">
                <svg class="icon">
                  <use xlink:href="#volume-icon"></use>
                </svg>
                <span class="text">
                  Enable sound
                </span>
              </div>
            </button>
        </div>
      </div>
      <div class="right_column">
        <img
          data-sizes="auto"
          data-srcset="
                                        ./images/promo-book-480.webp 480w,
                                        ./images/promo-book-768.webp 768w,
                                        ./images/promo-book-1200.webp 1200w"
          data-src="./images/promo-book-1200.webp"
          class="lazyload"
          width="1200"
          height="800"
          alt="book"
          style="width: 100%; height: auto"
        />
        <div class="bottom_content">

           <div class="rate_wrapper">
          <div class="stars_content">
            <svg class="icon">
              <use xlink:href="#rate-star-icon"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="#rate-star-icon"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="#rate-star-icon"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="#rate-star-icon"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="#rate-star-icon"></use>
            </svg>
          </div>
          <div class="rate_comment">5 - star on <span>Goodreads</span></div>
        </div>
        <a 
          class="hero_btn"
          href="https://shop.thepillarsofwisdom.com/cart/49305684803752:1"
          target="_blank"
        >
          <h2>Secure Your Copy</h2>
          <span> Exclusive Offer Awaits </span>
        </a>

        </div>
       
      </div>
    </div>
    <div class="promo_testimonials">
      <!-- <li>
        <img src="./images/user1.avif" alt="avatar">
        <div class="testimonial">
          <p>

          </p>
          <span>

          </span>
        </div>
      </li> -->
      <swiper-container
        class="mySwiper"
        pagination="true"
        pagination-clickable="true"
        space-between="30"
        navigation="true"
        navigation-prev-el=".swiper-button-prev"
        navigation-next-el=".swiper-button-next"
        breakpoints='{
          "0": {
            "slidesPerView": 1
          },
          "769": {
            "slidesPerView": 2
          }
        }'
      >
        <swiper-slide>
          <img src="./images/user1.avif" alt="avatar" />
          <div class="slide_text">
            <p>
              I went from a directionless and anxious, 28-year-old man, to
              someone with a proper plan of action in just a few short months. I
              now have a newfound love for the gym from the tangible results of
              this consulting. And my relationships, both professional and
              personal, have been decoded and unobscured by all the
              psychological insights I've gained. The Mystic Visions consulting
              program is some of the best money I’ve ever spent, and the only
              way is up for me here on out.
            </p>
            <span class="author"> Anthony M </span>
          </div>
        </swiper-slide>
        <swiper-slide>
          <img src="./images/user2.avif" alt="avatar" />
          <div class="slide_text">
            <p>
              I don’t really look at myself the same way as before I started the
              consulting. I would highly recommend it for those who are
              struggling with obstacles that keep them from moving forward.
              During consulting, there has never been a time where I presented a
              problem and it wasn’t met with a solution. Also, the mindset that
              I have developed throughout the coaching process is like my
              improved physique which is a result of the workout programs and a
              personally tailored diet plan. The most interesting part of the
              consulting is the discussion of theory, because not only will my
              understanding increase but I'll be given practical examples to
              help me further my understanding, and to be able to apply
              everything immediately.
            </p>
            <span class="author"> Liam S </span>
          </div>
        </swiper-slide>
        <swiper-slide>
          <img src="./images/user1.avif" alt="avatar" />
          <div class="slide_text">
            <p>
              Pillars presents a robust study in how to make it in life, replete
              with résumé tips, fitness and supplement information, sex magick,
              and yes, political commentary. Despite defining concepts like the
              Goofy Shmoofy Cycle, Pillars isn’t confined to high level
              academics and taxonomies quick to fly over normies’ heads.
            </p>
            <span class="author"> Ancient Problemz </span>
          </div>
        </swiper-slide>
        <swiper-slide>
          <img src="./images/user2.avif" alt="avatar" />
          <div class="slide_text">
            <p>
              GLO’s prose is lively and engaging, his practical advice useful
              and actionable, and his broader narrative sophisticated and
              compelling. This isn’t the tepid grainy Denny’s coffee you usually
              get with Manosphere books. … Pillars deserves your eyeballs for
              that reason alone—it will prove incredibly useful to anyone
              interested in writing for an audience of young men in 2025.
            </p>
            <span class="author"> Walt Bismarck </span>
          </div>
        </swiper-slide>
        <swiper-slide>
          <img src="./images/user1.avif" alt="avatar" />
          <div class="slide_text">
            <p>
              It’s easy to see this book as primarily removing pillars of folly,
              like blind Samson in the enemy temple. The Pillars of Wisdom left
              a different impression. It was brutal. This book is about what we
              cannot save. It's not a call to arms, it is Aeneas fleeing Troy. …
              It also brings full circle more than ten years of reactionary
              gender wars. The manosphere has become a stagnant, fossilized
              place. One where stoicism conceals passivity. Stoicism is the
              posture of the conquered man, who watches Rome burn without
              breaking frame. A man doesn't need one redpill, one revolution,
              but perpetual revolution."P
            </p>
            <span class="author"> Rach </span>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</section>
