<section class="section testimonials">
  <div class="conntainer">
    <div class="image-wrapper">
      <img
        data-sizes="auto"
        data-srcset="
                    ./images/testimonials-480.webp 480w,
                    ./images/testimonials-768.webp 768w,
                    ./images/testimonials-1200.webp 1200w"
        data-src="./images/testimonials-1200.webp"
        class="lazyload"
        width="1200"
        height="800"
        alt="hero"
        style="width: 100%; height: auto"
      />

      <div class="block-title">
        <h2>
          Testimonials
        </h2>

        <svg>
          <use xlink:href="#arrow-right"></use>
        </svg>
      </div>
    </div>

    <div class="testimonials-wrapper">
      <p>
        I went from a directionless and anxious, 28-year-old man, to someone
        with a proper plan of action in just a few short months. I now have a
        newfound love for the gym from the tangible results of this consulting.
        And my relationships, both professional and personal, have been decoded
        and unobscured by all the psychological insights I've gained. The Mystic
        Visions consulting program is some of the best money I’ve ever spent,
        and the only way is up for me here on out.
        <br />

        <span class="author"> Anthony M </span>
      </p>
      <p>
        I don’t really look at myself the same way as before I started the
        consulting. I would highly recommend it for those who are struggling
        with obstacles that keep them from moving forward. During consulting,
        there has never been a time where I presented a problem and it wasn’t
        met with a solution. Also, the mindset that I have developed throughout
        the coaching process is like my improved physique which is a result of
        the workout programs and a personally tailored diet plan. The most
        interesting part of the consulting is the discussion of theory, because
        not only will my understanding increase but I'll be given practical
        examples to help me further my understanding, and to be able to apply
        everything immediately.
        <br/>
        <span class="author"> Liam S </span>

      </p>


    </div>
  </div>
</section>
