@use "includes/variables" as var;
@use "includes/mixins" as mixin;

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 100dvh;
  overflow: visible;
}

.quote::before {
  content: "";
  background-image: url("../images/quote-divider.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  position: absolute;
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 2vh;
  top: 0;
}

.quote::after {
  content: "";
  background-image: url("../images/quote-divider.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 2vh;
  bottom: 0;
}

.quote_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: inherit;

  .quote_text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transform: translateX(-40px);
    gap: 10px;

    .line {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    span {
      color: var.$text_color;
    }
    .accent {
      font-weight: 600;
      text-transform: uppercase;
    }
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1 0 100%;
    }
    .right_items {
      align-items: flex-start;
    }
    .left_items {
      align-items: flex-end;
    }
 
    span {
      font-size: clamp(32px, 5vw, 42px);
    }
  }
}
